@import "styles/theme";

.root-navbar {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 2rem;
  height: 3rem;
  background: $bg-contrast;
  color: $text-contrast;

  .logo {
    display: flex;
    align-items: center;
  }
}
