.tx-preview {
    @apply p-2 m-1 rounded-md w-full;
    min-height: calc(theme('height.screen') - 82px);
    box-shadow: 2px 2px 6px theme('colors.shadow');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
