$text-primary: #111827;
$text-secondary: #6B7280;
$text-contrast: #F3F4F6;
$text-contrast-secondary: #9CA3AF;
$text-error: #DC2626;
$text-warning: #D97706;
$text-success: #059669;
$text-info: #1E40AF;

$bg-primary: #ffffff;
$bg-secondary: #9CA3AF;
$bg-contrast: #111827;
$bg-accent: #FDE68A;
$bg-info: #1E40AF;
$bg-info-secondary: #60A5FA;
$bg-success: #065F46;
$bg-selected-item: #EFF6FF;

$shadow-primary: 2px 2px 6px $bg-secondary;

$b-radius: 0.25rem;
$b-radius-md: 0.5rem;
$b-radius-sm: 0.125rem;

//$border-selection: #7F1D1D;
$border-selection: #1D4ED8;
